In [1]:
import pandas as pd 
import numpy as np
import nltk
from nltk.corpus import stopwords
import string

Importing the necessary libraries

In [2]:
df = pd.read_csv('/home/h4rzor/Courses/NLP/spam.csv',encoding='latin-1')

In [3]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

As you can see there are several columns, but we need only the text one and the one where the text is labelled as spam or not spam. I do not have a clue what the other three represents, that is the reason I am dropping them

In [4]:
df = df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1) #Dropping them

In [5]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

Already better without the three columns.

In [6]:
df.columns = ['target','text'] #Changing the columns' names

In [7]:
df

     target                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
mapping = {'ham':0,'spam':1} #Making a map to be applied

In [9]:
target_col = df['target'] #Working with a copy of the dataset column

In [10]:
target_col = target_col.map(mapping) #Applying the mapping function

In [11]:
target_col

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: target, Length: 5572, dtype: int64

I needed to do that because the algorithm works just with number and not words

In [12]:
df['target'] = target_col #Changing the categorical column with the mapped one

In [13]:
df

      target                                               text
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5567       1  This is the 2nd time we have tried 2 contact u...
5568       0              Will Ì_ b going to esplanade fr home?
5569       0  Pity, * was in mood for that. So...any other s...
5570       0  The guy did some bitching but I acted like i'd...
5571       0                         Rofl. Its true to its name

[5572 rows x 2 columns]

So..one column is ready to be passed to an algorithm, but the other one is not. We need somehow to encode the words to numbers.

In [14]:
df.drop_duplicates(inplace=True) #Dropping the duplicates

In [15]:
df

      target                                               text
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5567       1  This is the 2nd time we have tried 2 contact u...
5568       0              Will Ì_ b going to esplanade fr home?
5569       0  Pity, * was in mood for that. So...any other s...
5570       0  The guy did some bitching but I acted like i'd...
5571       0                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [16]:
target = df['target'] #The dependant variable

In [17]:
def process_text(text):
    no_punctuation = [char for char in text if char not in string.punctuation]
    no_punctuation = ''.join(no_punctuation)
    clean_text = [word for word in no_punctuation.split(' ') if word not in stopwords.words('english')]
    return clean_text

I am making a simple function to preprocess the text. First making sure that there is no punctuation involved in the process. This is why i imported the string class, because string.punctuation contains all the symbols the text can be punctuated. After dropping all kinds of punctuation signs, we have to join all the words,othwerwise the algorithm might not understand the correlations. Clean_text splits the no_punctuation and saves all the words in clean_text which are not in stopwords. Stopwords are words that could contribute almost nothing to the algorithm.It is like the GAN's project, they are just some noise. And if all these words are not in stopwords -> they do have some value to them and we need them. And finally we return the clean_text.

In [42]:
process_text(df['text'][0]) #This is the result of the function, just the words we need without all the noise

['Go', 'jurong', 'point', 'crazy', 'Available', 'bugis', 'n', 'great', 'world', 'la', 'e', 'buffet', 'Cine', 'got', 'amore', 'wat']

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

This function will make text into numbers. It is going to look like a matrix with our input len for rows, and all words in the text are vectorized so that the algorithm could work properly.

In [20]:
messages = CountVectorizer().fit_transform(df['text'])

In [21]:
messages #The output of the CountVectorizer

<5169x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 68018 stored elements in Compressed Sparse Row format>

In [22]:
from sklearn.model_selection import train_test_split #Helps split the data

In [23]:
X_train,X_test,y_train,y_test = train_test_split(messages,target,test_size=0.25) #The actual splitting

In [29]:
from sklearn.naive_bayes import MultinomialNB

It is counting the words in each and every sentence. Once it does this, it founds a correlation between those words and the output variable - whether it is spam or not. It could find what words are used more often than others in the spam and vice versa. When we feed the algorithm some test text, it counts the words(numbers that corresponds to it) and then looks at the probability of text being a spam with these parameters(words). If this value is bigger when the text is spam it assigns it to being a spam.

In [30]:
model = MultinomialNB().fit(X_train,y_train) #Fitting the data

In [32]:
y_pred = model.predict(X_test) #Making the predictions

In [34]:
from sklearn.metrics import ,confusion_matrix, accuracy_score #Importing some things to help visualize the data

In [39]:
cm = confusion_matrix(y_test,y_pred)
cm
# As you can see this is a pretty good result, although not knowing the percentages.

array([[1109,   13],
       [  14,  157]])

In [40]:
accuracy_score(y_test,y_pred)

0.9791183294663574

It is pretty good result, almost perfect. And this output is not biased, because it was done with the test_set. I guess we could play around with some variables and try to squeeze another percent or two.